@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /**
   * Tab
   */
  .TabsRoot {
    display: flex;
    flex-direction: column;
  }
  .TabsList {
    flex-shrink: 0;
    display: flex;
  }
  .TabsTrigger {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    line-height: 1;
    user-select: none;
  }
  .TabsTrigger[data-state='active'] {
    box-shadow: inset 0 -1px 0 0 currentColor, 0 1px 0 0 currentColor;
  }
  .TabsContent {
    flex-grow: 1;
    outline: none;
  }

  /**
   * Dialog
   */
  .DialogOverlay {
    position: fixed;
    inset: 0;
    animation: overlayShow 700ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .DialogContent {
    box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px, hsl(206 22% 7% / 20%) 0 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: contentShow 700ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .DialogContent:focus {
    outline: none;
  }
  /*.DialogTitle {}*/
  /*.DialogDescription {}*/
  .IconButton {
    position: absolute;
  }

  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

/**
 * Radio Group
 */
.RadioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.RadioGroupItem {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  box-shadow: 0 2px 10px silver;
}
.RadioGroupItem:hover {
  background-color: orange;
}
.RadioGroupItem:focus {
  box-shadow: 0 0 0 2px black;
}

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.RadioGroupIndicator::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: orange;
}

.Label {
  line-height: 1;
  padding-left: 15px;
}

/**
 * Toggle Group
 */
.ToggleGroup {
  display: inline-flex;
  background-color: silver;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px silver;
}

.ToggleGroupItem {
  background-color: white;
  color: dimgray;
  height: 35px;
  width: 35px;
  display: flex;
  font-size: 15px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
}
.ToggleGroupItem:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ToggleGroupItem:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ToggleGroupItem:hover {
  background-color: #efefef;
}
.ToggleGroupItem[data-state='on'] {
  background-color: #e7e7e7;
}
.ToggleGroupItem:focus {
  position: relative;
  box-shadow: 0 0 0 2px #cccccc;
}

/**
 * Scroll Area
 */
.ScrollAreaRoot {
  width: 200px;
  height: 225px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 10px #cccccc;
  background-color: white;
  --scrollbar-size: 10px;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 2px;
  background: #f3f3f3;
  transition: background 160ms ease-out;
}
.ScrollAreaScrollbar:hover {
  background: #e8e8e8;
}
.ScrollAreaScrollbar[data-orientation='vertical'] {
  width: var(--scrollbar-size);
}
.ScrollAreaScrollbar[data-orientation='horizontal'] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollAreaThumb {
  flex: 1;
  background: silver;
  border-radius: 7px;
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

.ScrollAreaCorner {
  background: gray;
}

.Text {
  font-weight: bold;
  line-height: 1.1;
}

.Tag {
  line-height: 1.2;
  margin-top: 10px;
  border-top: 1px solid #e7e7e7;
  padding-top: 10px;
}

/**
 * Collapseible
 */
.CollapsibleRoot {
  width: 90%;
  max-width: 500px;
}

.CollapseTriggerButton {
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 2px 6px;
  box-shadow: 0 1px 5px silver;
}
.CollapseTriggerButton[data-state='closed'] {
  background-color: #ffe3b2;
}
.CollapseTriggerButton[data-state='open'] {
  background-color: lightgray;
}
.CollapseTriggerButton:hover {
  background-color: #eaeaea;
}
.CollapseTriggerButton:focus {
  box-shadow: 0 0 0 2px gray;
}

.CollapsibleItem {
  padding: 7px;
  border-bottom: 1px dashed #c7c7c7;
}
